/* src/App.css */

.App {
  min-height: 100vh;
  font-family: Arial, sans-serif;
  padding-top: 60px; /* Add space for the fixed navbar */
}

body {
  margin: 0;
  padding: 0;
  background-color: #121212; /* Dark background */
}

button {
  background-color: #fcfcfc;
  color: #000000;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
  background-color: #333;
  transform: scale(1.05);
}

input[type="text"],
input[type="number"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}
